.App {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(249, 183, 117);
    box-sizing: border-box;
}

.Input {
    padding: 10px;
    padding-top: 0;
}

Button {
    height: 30px;
    width: 100px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    margin: 5px;
}

form {
    text-align: center;
}

#default-disabled-input {
    color: black;
    border: 0.5px solid #070707;
    background-color: white;
    cursor: not-allowed;
}

#default-disabled-input::placeholder {
    opacity: 1;
    color: black;
    /* cursor: not-allowed; */
}

#default-disabled-input:disabled {
    opacity: 1;

}